
<md-tabs md-dynamic-height md-border-bottom>

  <template md-tab label="Plug and Play">
    <md-content class="md-padding">
      <h4 class="md-display-1">This is to demonstrate the table-plugin component, data here is not to scale.</h4>
      <div *ngIf="loadTable">
        <table-plugin [data]="reports">
          <h2>Orders</h2>
        </table-plugin>
      </div>
    </md-content>
  </template>
  <template md-tab label="Formula 1 Drivers">
    <md-content class="md-padding">
      <f1Drivers></f1Drivers>
    </md-content>
  </template>
  <template md-tab label="Lets Drive ;) ">

    <md-content class="md-padding">

      <events-demo></events-demo>
    </md-content>
  </template>
</md-tabs>


