    <h1>ngModel, Needs FORM_DIRECTIVES</h1>
    <input type="text" [(ng-model)]="searchQuery">
    {{searchQuery}}

    <hr />

    <div class="input-controls">
        <h4>Select your programming skills</h4>
        <div>
            <label>
                <input #angularcb type="checkbox" (change)="angular = angularcb.checked" />
                Angular
            </label>
        </div>
        <div>
            <label>
                <input #javascriptcb type="checkbox" (change)="javascript = javascriptcb.checked" />
                JavaScript
            </label>
        </div>
        <div>
            <label>
                <input #csharpcb type="checkbox" (change)="csharp = csharpcb.checked" />
                C#
            </label>
        </div>
    </div>
    <div>
        Selected Skills:
        <ul>
            <li *ng-if="angular">Angular</li>
            <li *ng-if="javascript">JavaScript</li>
            <li *ng-if="csharp">C#</li>
        </ul>
    </div>
    <hr />
    <div class="input-controls">
        <h4>Select a gender</h4>
        <div>
            <label>
                <input #male name="gender" type="radio" value="Male" (click)="gender = male.value" />
                Male
            </label>
        </div>
        <div>
            <label>
                <input #female name="gender" type="radio"  value="Female" (click)="gender = female.value" />
                Female
            </label>
        </div>
        <div>
            Selected gender is <strong>{{gender}}</strong>
        </div>
    </div>


    <hr />
<section class="new-link">
    <form (submit)="addArticle(newtitle, newlink)" >
    <div class="control-group">
        <div><label >Title:</label></div>
        <div><input name="title" #newtitle></div>
    </div>
    <div class="control-group">
        <div><label >Link:</label></div>
        <div><input name="link" #newlink></div>
    </div>
<br />
    <button type="submit" class="btn btn-primary" >Submit Link</button>
    </form>
</section>
<hr  />
<section>
    <!--*ng-for="#article of articles | limitTo:2" -->
    <div *ng-if="articles.length" >
        <ul >
            <li><b>Title</b> |  <b>Link</b></li>
        </ul>
        <ul *ng-for="#article of articles;  #i = index">
            <li> {{i + 1}} : {{article.title}} | {{article.link}} <button (click)="deleteArticle(i)">X</button></li>
        </ul>
    </div>
</section>
