<md-card *ngIf="showWhenTrue">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">
        <b>{{driver.Driver.givenName}} {{driver.Driver.familyName}} <points [cty]="driver.points" ></points></b>
      </span>
      <span class="md-subhead">
        <md-card-content>
          Country: {{driver.Driver.nationality}}
          <div class="col-md-1">
            <nationality [cty]="driver.Driver.nationality"></nationality>
          </div>
          Team: {{driver.Constructors[0].name}}<br/>
          Birth: {{ driver.Driver.dateOfBirth }}<br/>
          <a href="{{driver.Driver.url}}" target="_blank">Biography</a>
        </md-card-content>
      </span>
    </md-card-title-text>
    <md-card-title-media>
      <img src="assets/images/{{driver.Driver.driverId.toLowerCase()}}.jpg"   border="0" class="img-polaroid">
    </md-card-title-media>
  </md-card-title>
  <md-card-actions layout="row" layout-align="center">
    <a [routerLink]="['/About']">
      <button md-button>Back To About</button>
    </a>
  </md-card-actions>
</md-card>


<md-card *ngIf="showWhenTrue">

  <chart [chartdata]="driverData" [drivername]="driver" ></chart>

  <md-card-actions layout="row" layout-align="center">
    <a [routerLink]="['/About']">
      <button md-button>Back To About</button>
    </a>
  </md-card-actions>
</md-card>
