<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Sign in</span>
      <span class="md-subhead">Credentials : demo123/password</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content layout="row" layout-align="center">
    <md-input-container>
      <label for="label">UserName</label>
      <input md-input type="text" id="label" [(ngModel)]="username" (focus)="showError = false;" >
    </md-input-container>
    <md-input-container>
      <label for="content">Password</label>
      <input md-input type="password" id="content" [(ngModel)]="password">
    </md-input-container>
  </md-card-content>
  <md-card-actions layout="row" layout-align="center">
    <button md-raised-button class="md-raised md-primary"  [disabled]="!username || !password"  (click)="subitForm()">Submit</button>

  </md-card-actions>
</md-card>
<div class="mdl-cell mdl-cell--12-col status-red center" [hidden]="!showError">
  Sorry, the username and/or password was incorrect
</div>

