<div>
  <md-card-content layout="row" layout-align="center">
    <form (submit)="addArticle(firstName, lastName)">
      <label for="content">Take a Pick </label>
      <div id="my_camera" style="width:320px; height:240px;"></div>
      <input type="hidden" id="my_result" />

      <md-card-content layout="row" layout-align="center">
        <md-input-container>
          <label for="label">First Name </label>
          <input md-input type="text" id="label" name="firstName" #firstName>
        </md-input-container>
        <md-input-container>
          <label for="content">Last Name </label>
          <input md-input type="text" id="content" name="lastName" #lastName>
        </md-input-container>
      </md-card-content>
      <md-card-actions layout="row" layout-align="center">
        <button md-raised-button class="md-raised md-primary" type="submit">Submit</button>
      </md-card-actions>
    </form>
  </md-card-content>
</div>

<hr *ngIf="articles.length" />
<div>
  <md-content >
    <md-list>
      <md-subheader class="md-no-sticky">{{articles.length}} line item</md-subheader>
      <md-list-item class="md-3-line" *ngFor="#article of articles;  #i = index">
        <div class="md-list-item-text" layout="column">
          <div id="results">
            <img src="{{ article.snap }}"/>
            <h3>{{ article.firstName }} </h3>
            <h4> {{ article.lastName }}</h4>
          </div>
          <p style="display: inline">
            <button md-raised-button class="md-raised md-primary" (click)="deleteArticle(i)">X</button>
          </p>
        </div>
      </md-list-item>
    </md-list>
  </md-content>
</div>





