<div>
  <md-card-content layout="row" layout-align="center">
    <form (submit)="addArticle(newtitle, newlink)">
      <md-card-content layout="row" layout-align="center">
        <md-input-container>
          <label for="label">Title </label>
          <input md-input type="text" id="label" name="title" #newtitle>
        </md-input-container>
        <md-input-container>
          <label for="content">Link </label>
          <input md-input type="text" id="content" name="link" #newlink>
        </md-input-container>
      </md-card-content>
      <md-card-actions layout="row" layout-align="center">
        <button md-raised-button class="md-raised md-primary" type="submit">Submit Link</button>
      </md-card-actions>
    </form>
  </md-card-content>
</div>

<hr *ngIf="articles.length" />
<div>
  <md-content >
    <md-list>
      <md-subheader class="md-no-sticky">{{articles.length}} line item</md-subheader>
      <md-list-item class="md-3-line" *ngFor="#article of articles;  #i = index">
        <div class="md-list-item-text" layout="column">
          <h3>{{ article.title }} </h3>
          <h4> {{ article.link }}</h4>
          <p style="display: inline">
            <button md-raised-button class="md-raised md-primary" (click)="deleteArticle(i)">X</button>
          </p>
        </div>
      </md-list-item>
    </md-list>
  </md-content>
</div>
