<div >
  <md-card-content layout="row" layout-align="center">
    <form  (submit)="addArticle()">
      <label for="content">Take a Pick </label>
      <div id="my_camera" style="width:320px; height:240px;"></div>
      <input type="hidden" id="my_result" />


      <md-card-actions layout="row" layout-align="center">
        <button md-raised-button class="md-raised md-primary" type="submit">Submit</button>
      </md-card-actions>
    </form>
  </md-card-content>

  <p style="display: inline">
    <a [routerLink]="['/LetsDrive']">

      <button md-raised-button class="md-raised md-primary" >Gear Up</button>
    </a>
  </p>
</div>







